<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Perpustakaan SMK PIKA</title>
</head>
<body>
    <header>
        <img src="D:\kulyah\sistem terdistribusi\UAS\Sistem Informasi Perpustakaan\asset\logo.png" alt="Logo SMK PIKA" class="logo">
        <h1>Selamat Datang di Perpustakaan </h1>
    </header>
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Beranda</a></li>
            <li><a href="api.html">Data Buku</a></li>
            <li><a href="form.html">Tambah Data Buku</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>BUKU JENDELA DUNIA</h2>
            <p>perpustakaan yang dikhususkan untuk Sekolah Menengah Kejuruan (SMK), dirancang untuk menyediakan sumber daya dan koleksi bahan bacaan yang relevan dengan kurikulum dan kebutuhan pembelajaran di bidang kejuruan. Perpustakaan ini bertujuan untuk mendukung pengembangan pengetahuan dan keterampilan siswa SMK dengan menyediakan akses ke literatur, buku panduan, dan materi referensi terkini dalam disiplin kejuruan tertentu. Pika SMK berfungsi sebagai pusat informasi yang mendukung proses pembelajaran dan pengajaran di SMK, memberikan siswa dan tenaga pendidik akses mudah dan cepat ke sumber daya pendidikan yang relevan dan mutakhir.</p>
        </section>
    </main>
</body>
</html>
